<div class="bg-secondary text-white text-center" id="hero-06" style="background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)),url('https://pixabay.com/get/ea36b5082ffc063ed1534705fb0938c9bd22ffd41cb3174793f7c771a6/hai-3347787_1920.jpg') center center; background-size: cover;">
  <div class="container d-flex flex-column" style="min-height: 105vh;">
    <div class="row mt-auto">
      <div class="col-lg-8 col-md-8 col-sm-12 text-center mx-auto">
        <h1 class="display-3 mb-3 font-weight-normal">Subscribe now!</h1>
        <p class="lead mb-5">Cempus amet donec, egestas pulvinar amet semper accusamus commod</p>
      </div>
    </div>
    <div class="row mb-auto">
      <div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">
        <form lpformnum="1">
          <div class="form-row mb-5">
            <div class="col-lg-4 col-md-12 col-sm-12 pb-2 mx-auto ml-lg-auto mr-lg-0">
              <input class="form-control form-control-lg border-0 rounded-0" type="text" placeholder="Full name">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 pb-2 mx-auto">
              <input class="form-control form-control-lg border-0 rounded-0" type="text" placeholder="E-mail">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 pb-2 mx-auto mr-lg-auto ml-lg-0">
              <button class="btn btn-warning w-100 btn-lg border-0 rounded-0" type="submit">Register</button>
            </div>
          </div>
        </form>
        <p class="small" style="opacity: 0.5;">Cempus amet donec, egestas pulvinar amet semper accusamus commod</p>
        <ul class="list-inline mt-4">
          <li class="list-inline-item">
            <a class="btn-link h4 text-light pr-3" href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-link h4 text-light pr-3" href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
